* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App .header {
  background-color: #f55a5a;
}
#root {
  background-color: #fff;
}
.card-list {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  padding: 50px 100px;
}
.picture {
  width: 20%;
}
.picture img {
  width: 100%;
  border-radius: 15px;
}
.content {
  width: 70%;
  text-align: left;
  border-bottom: solid 1px lightgray;
}
.content .location {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: black;
}
.content .location i {
  color: #f55a5a;
  margin-right: 10px;
}
.content h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: black;
  margin: 16px 0;
}
.content .date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14.24px;
  line-height: 12px;
  color: #2b283a;
  margin-bottom: 12px;
  display: block;
}
